body {
    background-color: lightgrey;
}

/* use CSS selector to apply style(s) to at least one HTML tag */
/* changed box model property of tag */
h1 {
    width: 300px !important;
    border: 15px solid green !important;
    padding: 50px !important;
    margin: 20px !important;
    color: green !important;
}
 
h3 {
    color: indigo;
}
 
h1,
/* changed box model property of tag */
h3 {
    width: 300px !important;
    border: 15px solid green !important;
    padding: 50px !important;
    margin: 20px !important;
    text-align: center !important;
    font-family: sans-serif !important;
}
 
/* styled class */
/* changed box model property of class */
.content {
    width: 300px;
    background-color: lightblue;
    border: 15px solid green;
    padding: 10px;
    margin: 20px;
    text-align: justify;
    font-family: sans-serif;
    margin-left: 35px;
    margin-right: 35px;
    color: Tomato;
}
/* styled id */
/* changed box model property of id */
#title {
    width: 300px;
    background-color: lightblue;
    border: 15px solid green;
    padding: 10px;
    margin: 20px;
}

/* change color of <a> when you hover cursor over it */
.link:hover{
    color: pink !important;
}
